@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&display=swap');

body {
    margin: 0% auto;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
}

h1, h2, li {
    text-align: center;
}

h1 {
    margin: 2% auto;
    font-size: 4vh;
    font-family: 'Pacifico', cursive;
    color:sienna;
}

h2, h2 a {
    margin: 1.5% auto;
    font-size: 3.5vh;
    font-family: 'Dancing Script', cursive;
    color: rosybrown;
}

ul {
    margin: 1% auto;
    list-style-type: none;
    padding-left: 0%;
    max-width: 50%;
}

li {
    margin: 0% auto;
    padding: 1%;
    background: linear-gradient(180deg, green 0%, lightgreen 50%, green 100%);
    max-width: 100%;
    border-radius: 3vh;
    font-size: 3vh;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    color: darkviolet;
}

a {
    text-decoration: none;
}

hr {
    margin: 2% auto;
}

li:hover {
    font-size: 3.2vh;
}